<header class=" bg-[#100e0e] py-1 text-white">
  <div class="navbar w-11/12 mx-auto text-lg">
    <div class="navbar-start">
      <a class="text-xl" href="{{routes.root_url}}">
        {% if section.settings.logo %}
          {{ section.settings.logo | image_url: width: 110 | image_tag }}
        {% else %}
          <p>{{ shop.name }}</p>
        {% endif %}
      </a>
    </div>
    <div class="navbar-center lg:flex">
      <ul class="menu menu-horizontal px-1 text-lg">
        {% for parent in section.settings.maneu.links %}
          <li>
            <a href="{{ parent.url }}">{{ parent.title }}</a>
          </li>
          <li class="sub-menu">
            {% if parent.links.size > 0 %}
              <details>
                <summary></summary>
                <ul class="p-2 w-[200px] bg-[#363430]">

                  {% for child in parent.links %}
                    <li>
                      <a href="{{child.url}}">{{ child.title }}</a>
                    </li>
                  {% endfor %}

                </ul>
              </details>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="navbar-end flex content-center">

      <a class="pr-8" href="#">
        <i class="fa-solid fa-user-lock"></i>
      </a>
      <a class="" href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
      <a class="pl-8" href="#">
        <i class="fa-solid fa-cart-plus"></i>
      </a>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo Upload"
      },
      {
        "type": "link_list",
        "id": "maneu",
        "label": "Select Menu"
      }
    ]
  }
{% endschema %}